In [1]:
# Load pandas
import pandas as pd
import datetime as dt

In [2]:
# Read CSV file into DataFrame df
df = pd.read_csv('./resources/cities.csv', index_col=0)

#Change date to human-readable
df['Date'] = pd.to_datetime(df['Date'], unit = 's')

#Change city names from lower case to title case
df['City'] = df.City.str.title()

# Show dataframe
print(df)

                 City  Cloudiness Country                Date  Humidity  \
City_ID
0        Jacareacanga           0      BR 2018-06-13 15:00:00        62
1          Kaitangata         100      NZ 2018-06-13 15:55:04        94
2            Goulburn          20      AU 2018-06-13 15:51:18        91
3                Lata          76      IN 2018-06-13 15:55:05        89
4          Chokurdakh           0      RU 2018-06-13 15:55:06        88
...               ...         ...     ...                 ...       ...
542            Scalea          36      IT 2018-06-13 16:00:31       100
543        San Andres          68      PH 2018-06-13 16:00:32       100
544            Muisne          92      EC 2018-06-13 16:00:33        84
545               Ati          20      TD 2018-06-13 16:00:33        25
546          San Luis           0      AR 2018-06-13 15:57:52        53

           Lat     Lng  Max Temp  Wind Speed
City_ID
0        -6.22  -57.76     89.60        6.93
1       -46.28  169.85     42.61        5.64
2       -34.75  149.72     44.32       10.11
3        30.78   78.62     59.89        0.94
4        70.62  147.90     32.17        2.95
...        ...     ...       ...         ...
542      39.82   15.79     70.06        5.30
543      13.32  122.68     83.47       22.64
544       0.61  -80.02     76.90        4.63
545      13.21   18.34    104.53        4.97
546     -33.30  -66.34     42.43        2.62

[547 rows x 9 columns]

In [3]:
html = df.to_html(classes=["js-sort-tabale", "table-bordered", "table-striped", "table-hover"])
  
# write html to file
text_file = open("cities.html", "w")
text_file.write(html)
text_file.close()